.team-container {
    margin-bottom: 1rem;
  }

.team-container ul {
    border: .1rem solid rgba(128, 128, 128, 0.418);
    margin: 0;
    padding: .5rem;
  }

li {
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: .5rem;
  }
